@model CovidAppMVC.Models.Сертификаты

@{
    ViewBag.Title = "Create";
}

<h2>Добавление сертификата</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Сертификаты</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Номер_сертификата, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Номер_сертификата, "Номер сертификата", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Номер_сертификата, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Дата_начала_действия, "Дата начала действия сертификата", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Дата_начала_действия, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.Дата_начала_действия, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Дата_окончания_действия, "Дата окончания действия сертификата", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Дата_окончания_действия, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.Дата_окончания_действия, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Код_сотрудника, "ФИО сотрудника", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Код_сотрудника", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Код_сотрудника, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Код_типа_сертификата, "Тип сертификата", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Код_типа_сертификата", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Код_типа_сертификата, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку сертификатов", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
