@model CovidAppMVC.Models.Сертификаты

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление сертификата</h2>

<h3>Вы действительно хотите удалить сертификат из базы данных?</h3>
<div>
    <h4>Сертификаты</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Номер сертификата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Номер_сертификата)
        </dd>

        <dt>
            Дата начала действия сертификата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_начала_действия)
        </dd>

        <dt>
            Дата окончания действия сертификата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_окончания_действия)
        </dd>

        <dt>
            ФИО сотрудника
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сотрудники.ФИО_сотрудника)
        </dd>

        <dt>
            Тип сертификата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Типы_сертификатов.Тип_сертификата)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить запись" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку сертификатов", "Index", new { id = Model.Код_сотрудника })
        </div>
    }
</div>
